* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Open Sans", sans-serif; */
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}

#home {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
  top: 0;
  /* background: transparent; */
}
#section-bg {
  position: relative;
  z-index: 2;
  margin-top: 100vh;
  background-color: #f5f8fd;
  height: 400vh;
}

.home {
  min-height: 100vh;
  width: 100%;
  background: url(./IMG/0.jpg);
  background-size: cover;
  background-position: center top;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  transition: all 0.5s ease-in;
}

.post {
  width: 300px;
  height: 290px;
  overflow: hidden;
  transition: 0.5s;
  margin: 10px;
  /* margin-left: 100px; */
  /* box-shadow: 0 15px 15px #777171;*/
  box-shadow: 0 15px 15px rgba(161, 149, 149, 0.7);
  /* border-radius: 15px; */
  object-fit: cover;
  position: relative;
}

.post img {
  display: block;
  width: 300px;
  height: 290px;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.slide {
  display: flex;
  width: max-content;
  align-items: center;
}

.container {
  max-width: 100%;
  overflow: auto;
  margin-left: 120px;
  margin-top: 30px;
  width: 1280px;
}

.container::-webkit-scrollbar {
  display: none;
}

.slider-title h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  color: #173b6c;
  padding-left: 130px;
  font-family: "Roboto", sans-serif;
  padding-top: 50px;
}

h3 {
  margin-top: 20px;
  padding-left: 130px;
  font-size: 20px;
}

.buttons {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: space-between;
  left: 50%;
  margin-top: 5px;
}

.buttons button {
  font-family: cursive;
  font-weight: bold;
  width: 20px;
  height: 30px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 0 10px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #b1b1ef;
}

.post:hover {
  transform: translate(0px, -10px);
  transition: 0.5s;
  z-index: 1;
  box-shadow: 0 15px 15px #777171;
}

.post:hover > .fea-text {
  transition: 0.3s ease-in;
  background-color: rgba(24, 22, 22, 0.943);
}

.fea-text {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: absolute;
  bottom: 0px;
  width: 100%;
  transition: 0.2s ease-in;
}

.fea-text p {
  display: none;
}

.fea-text h5 {
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.fea-text.show h5 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.fea-text.show p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  display: block;
}
.divider {
  width: 50px;
  height: 3px;
  background: #149ddd;
  margin-left: 130px;
  margin-top: 15px;
}

.titlecontact {
  background-color: #f5f8fd;
  text-align: center;
  margin-top: 100px;
}
.titlecontact h2 {
  margin-left: 500px;
  max-width: 600px;
  color: #4d504a;
  font-size: 35px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 380;
}
.titlecontact span {
  font-weight: 380;
  margin-left: 87px;
  color: #4d504a;
  font-size: 22px;
  font-family: "Cormorant Garamond", serif;
}

#section-bg .backtop {
  width: 40px;
  height: 40px;
  background: #149ddd;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 120px;
  right: 20px;
  padding: 13px;
}


.table {
  max-width: 800px;
  height: 320px;
  margin-top: 80px;
  margin-left: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 200;
  font-family: "Muli", sans-serif;
}
.table input {
  width: 400px;
  margin-bottom: 20px;
  /* margin-top: 40px; */
  padding: 8px;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}
.table input:focus {
  border-color: #4caf50; /* Màu khi focus */
  outline: none; /* Loại bỏ viền xanh khi focus trong Firefox */
}

.container-input {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.table button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #afafa5;
  color: white;
  border: none;
  cursor: pointer;
  width: 220px;
  height: 50px;
  margin-left: 180px;
}
